<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">



<bean id="orderStatus" class="bean.OrderStatus">
        <constructor-arg name = "delieveryStatus"  ref="delieveryStatus" />
        <constructor-arg name = "kitchenStatus" ref="kitchenStatus" />
</bean>

    <bean id = "kitchenStatus" class="bean.KitchenStatus"> </bean>

    <bean id = "delieveryStatus" class ="bean.DelieveryStatus"> </bean>
</beans>